In [1]:
import os
os.environ["XAI_API_KEY"] = "REDACTED_API_KEY"
os.environ["API_KEY"] = "REDACTED_API_KEY"

In [2]:
import dataprep
api_key = os.environ.get('API_KEY')
XAI_API_KEY = os.environ.get('XAI_API_KEY')
from datetime import datetime

In [3]:
import app

In [4]:
event = {
  "date" : "2025-04-16",
  "Body": {
    "action": "BUY",
    "position": [
      "Short",
      19308.271583525824
    ],
    "account": "Turbo24"
  }
}

In [5]:
{
 
}

{}

In [6]:
app.handler(event,"test")

Fetching data: 0it [00:00, ?it/s]

Calculating daily candles:   0%|          | 0/78 [00:00<?, ?step/s]

              datetime      Open      High       Low     Close       Date
0  2025-04-16 09:30:00  18475.76  18524.87  18461.91  18499.17 2025-04-16
1  2025-04-16 09:35:00  18496.65  18546.16  18490.74  18527.88 2025-04-16
2  2025-04-16 09:40:00  18528.15  18551.48  18508.09  18511.22 2025-04-16
3  2025-04-16 09:45:00  18511.40  18511.40  18461.84  18471.84 2025-04-16
4  2025-04-16 09:50:00  18472.67  18478.41  18413.94  18425.61 2025-04-16
..                 ...       ...       ...       ...       ...        ...
73 2025-04-16 15:35:00  18069.42  18089.80  18050.78  18086.29 2025-04-16
74 2025-04-16 15:40:00  18086.62  18118.91  18077.78  18104.63 2025-04-16
75 2025-04-16 15:45:00  18103.61  18139.60  18101.85  18139.60 2025-04-16
76 2025-04-16 15:50:00  18162.06  18262.74  18162.06  18261.01 2025-04-16
77 2025-04-16 15:55:00  18243.39  18270.29  18200.38  18260.99 2025-04-16

[78 rows x 6 columns]
2025-04-21 12:17:25,269 - httpx - INFO - HTTP Request: POST https://api.x.ai/v1/chat/completions "HTTP/1.1 200 OK"

{'Body': '{\n    "action": "SELL",\n    "position": ["Short", 19350.0, "Following ML suggestion for a Short position due to recent price data showing a lack of strong upward momentum and a pattern of lower highs and closes in recent candles, indicating potential bearish trend. Adjusted barrier slightly higher than ML suggestion (19308.27 to 19350.0) to reduce leverage and risk, providing a safer buffer above the current price of 18495.59."]\n}'}

In [12]:
current_date = datetime.strptime("2025-04-17", "%Y-%m-%d").date()
daily_df,intradayndx_agg, intradayndx = dataprep.prepare_csvs(api_key,current_date,current_date)

Fetching data: 0it [00:00, ?it/s]

Calculating daily candles:   0%|          | 0/78 [00:00<?, ?step/s]

In [13]:
daily_df

        Date     Open      High       Low     Close
0 2025-04-17  18369.9  18401.05  18144.46  18261.74

In [14]:
intradayndx_agg

              datetime     Open      High       Low     Close       Date
0  2025-04-17 09:30:00  18369.9  18371.34  18289.71  18289.71 2025-04-17
1  2025-04-17 09:35:00  18369.9  18371.34  18265.15  18280.79 2025-04-17
2  2025-04-17 09:40:00  18369.9  18371.34  18264.52   18298.7 2025-04-17
3  2025-04-17 09:45:00  18369.9  18371.34  18260.25   18316.6 2025-04-17
4  2025-04-17 09:50:00  18369.9  18378.73  18260.25  18362.36 2025-04-17
..                 ...      ...       ...       ...       ...        ...
73 2025-04-17 15:35:00  18369.9  18401.05  18144.46  18285.01 2025-04-17
74 2025-04-17 15:40:00  18369.9  18401.05  18144.46  18285.18 2025-04-17
75 2025-04-17 15:45:00  18369.9  18401.05  18144.46  18246.16 2025-04-17
76 2025-04-17 15:50:00  18369.9  18401.05  18144.46  18269.67 2025-04-17
77 2025-04-17 15:55:00  18369.9  18401.05  18144.46  18261.74 2025-04-17

[78 rows x 6 columns]

In [11]:
intradayndx

              datetime      Open      High       Low     Close       Date
0  2025-04-16 09:30:00  18475.76  18524.87  18461.91  18499.17 2025-04-16
1  2025-04-16 09:35:00  18496.65  18546.16  18490.74  18527.88 2025-04-16
2  2025-04-16 09:40:00  18528.15  18551.48  18508.09  18511.22 2025-04-16
3  2025-04-16 09:45:00  18511.40  18511.40  18461.84  18471.84 2025-04-16
4  2025-04-16 09:50:00  18472.67  18478.41  18413.94  18425.61 2025-04-16
..                 ...       ...       ...       ...       ...        ...
73 2025-04-16 15:35:00  18069.42  18089.80  18050.78  18086.29 2025-04-16
74 2025-04-16 15:40:00  18086.62  18118.91  18077.78  18104.63 2025-04-16
75 2025-04-16 15:45:00  18103.61  18139.60  18101.85  18139.60 2025-04-16
76 2025-04-16 15:50:00  18162.06  18262.74  18162.06  18261.01 2025-04-16
77 2025-04-16 15:55:00  18243.39  18270.29  18200.38  18260.99 2025-04-16

[78 rows x 6 columns]